<html>
<head></head>
<body>
<h1>Add a Blog Post</h1>
<h2>Add a blog post to your profile.</h2>

<form method = 'POST' action = '/users/add-blog-post'>
<div><input type="text" placeholder="Post Title" name="postTitle" /></div><br>
<textarea placeholder="Tell us about your recent trip!" name="postBody" rows="6" cols="50"></textarea>
<div><button>Submit</button></div>
</form>

</body>
</html>