<html>
<head></head>
<body>
<h1>Trip Planning App</h1>
<form method = 'GET' action = '/add-trip'>
<button>Add a Trip</button>
</form>
<form method = 'GET' action = '/view-trips'>
<button>View All Trips</button>
</form>
<form method = 'GET' action = '/search'><button>Search for a trip by city</button></form>
</body>
</html>