<html>
<head>
<link rel = "stylesheet" href = "css/styles.css" /></head>
<body>
<h1>Trip Planning App</h1>
<form method = 'GET' action = '/trips/add-trip'>
<button>Add a Trip</button>
</form>
<form method = 'GET' action = '/trips/view-trips'>
<button>View All Trips</button>
</form>
<form method = 'GET' action = '/trips/search'><button>Search for a trip by city</button></form>
</body>
</html>