<html>
<head>
<link rel = "stylesheet" href = "/css/styles.css" /></head>
<body>
<h1>Profile</h1>
<form method = 'GET' action = '/trips/add-trip'>
<button>Add a Trip</button>
</form>
<form method = 'GET' action = '/trips/view-trips'>
<button>View All Trips</button>
</form>
<form method = 'GET' action = '/trips/search'><button>Search for a trip by city</button></form>
<form method = 'GET' action = '/users/chat'><button>Join the Trip Planning Chat Room</button></form>
<form method = 'GET' action = '/users/add-blog-post'><button>Add a Blog Post to Your Profile</button></form>
<form method = 'GET' action = '/users/blog'><button>View your Blog Posts</button></form>
<form method = 'GET' action = '/users/sign-out'><button>Sign out</button></form>
<form method = 'GET' action = '/users/site-blog'><button>View Blog Posts by All Users</button></form>
</body>
</html>