<html>
<head>
<link rel = "stylesheet" href = "/css/styles.css" /></head>
<body>
<h1>Sign Up</h1>


<form method='POST' action='/users/register'>
<input type="text" placeholder="Username" name="username" />
<input type="password" placeholder="Password" name="password1" />
<input type="password" placeholder="Confirm password" name="password2" />
<button>Submit</button></form>
{{errorMessage}}
</body>
</html>