<html>
<head>
<link rel = "stylesheet" href = "/css/styles.css" /></head>
<body>
<h1>Welcome to the Trip Planning App!</h1>
<form method='GET' action='/users/login'>
<button>Login</button></form>
<form method='GET' action='/users/register'>
<button>Register</button></form>


</body>
</html>