<html>
<head></head>
<body>
<h1>View Trips</h1>
<form method='POST' action = '/view-trips'><button>Sort Trips By Date</button></form>
<div>
{{#allTrips}}
<div><img src="{{image}}" width="30%">{{title}} - {{city}} - Departure Date: {{departureDate}} - Return Date: {{returnDate}}
<form method='GET' action = '/update-trip/{{tripId}}'><button>Update Trip</button></form>
</div>
{{/allTrips}}
</div>
<br>
<form method = 'GET' action = '/add-trip'>
<button>Add another trip</button>
</form>
</body>
</html>