<html>
<head></head>
<body>
<h1>Hi</h1>

<form method="POST" action='/login'>
<input type="text" placeholder="Username" name="username" />
<input type="password" placeholder="Password" name="password" />
<button>Submit</button>
</form>
{{errorMessage}}
</body>
</html>