<html>
<head></head>
<body>

<form method="POST" action='/register'>
<input type="text" placeholder="Name" name="name" />
<input type="text" placeholder="Age" name="age" />
<button>Submit</button>
</form>

</body>
</html>