
<html>
    <head></head>
    <body>
        <h1>Index</h1>
        <form method = "POST" action = '/login'>
            <input type = "text" name = "username" placeholder = "username" />
            <input type = "text" name = "password" placeholder = "password" />
            <button>Submit</button>
        </form>

        {{errorMessage}}
    </body>
</html>