<html>
<head></head>
<body>
<h1>Create a Post</h1>
<form method="POST" action="/create-post">
<input type="text" placeholder="Post Title" name="title" />
<div>
<input type="text" placeholder="Post Category" name="category" />
</div>
<div>
<textarea name="body" rows="8" cols="50"></textarea>
</div>
<button>Submit</button>
</form>

</body>
</html>