<html>
<head></head>
<body>
<h1>Update Post</h1>
{{#post}}
<form method="POST" action="/update-post/{{id}}">
<input type="text" value="{{title}}" name="title" />
<div>
<input type="text" value="{{category}}" name="category" />
</div>
<div>
<textarea name="body" rows="8" cols="50">{{body}}</textarea>
</div>
<button>Update</button>
</form>

<h2>Add a Comment:</h2>
<form method="POST" action="/add-comment/{{id}}">
<input type="text" placeholder="Comment Title" name="commentTitle"/>
<div>
<textarea name="commentBody" rows="4" cols="50"></textarea>
</div>
<button>Submit Comment</button>
</form>

{{/post}}


</body>
</html>